{% include 'layout.html.twig' %}
{% block stylesheets %}
    <link href="../../src/css/listeUtilisateur.css" type="text/css" rel="stylesheet" />
    <link href="../../src/css/grid.css" type="text/css" rel="stylesheet" />
{% endblock %}
<h1>Liste des documents : </h1>
<div class="search">
    <label for="search_user">Rechercher un document</label>
    <input type="search" id="search_user" name="ru" value="nom de l'utilisateur..." onfocus="if(this.value=='nom de l\'utilisateur...')this.value=''" onblur="if(this.value=='')this.value='nom de l\'utilisateur...'" autocomplete="off">

    <button id="submit_research">rechercher</button><div id="infoSearch"></div>
</div>
<div class="content">
    <div class="row">
        <label name="nom">Nom </label><label name="prenom">Prenom </label><label>Email </label><label>Telephone </label><label>Adresse </label><label>Date d'adhesion </label><label>nombre d'emprunts </label>
    </div>
    <div id="iu">
        {% for document in documents %}
     <p>   {{document.id}} </p>
             {% endfor %}