  {% block stylesheets %}
            <link href="../src/css/accueil.css" type="text/css" rel="stylesheet" />
        {% endblock %}

   
{% block content %}     
        <div class="main">
            <div class="sub-main">
            <h1>Gestion des usagers:</h1>
            <button id="1" class="button">Usagers</button>
            </div>
            <div class="sub-main">
            <h1>Gestion des emprunts:</h1>
            <button  id="2"  class="button"><span>Emprunts</span></button>
            </div>
            <div class="sub-main">
            <h1>Gestion des retour :</h1>
            <button  id="3" class="button">Retour</button>
            </div>
        </div>


{% endblock %}