  {% block stylesheets %}
            <link href="../../src/css/layout.css" type="text/css" rel="stylesheet" />
        {% endblock %}

   
{% block content %}     
      
<ul>
  <li><a href="">Usagers</a></li>
  <li><a href="">Emprunts</a></li>
  <li><a href="">Retour</a></li>
</ul>

{% endblock %}