{% extends 'Interface.html.twig' %}
   
{% block stylesheets %}
        <link href="../../src/css/connexion.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

	<div class="container">
		<h1>Identifiez vous</h1>
		
		<form action="{{ path_for('connexion') }}" method="post">
			<div class="form-group">
				<label id="logname" for="mail">Email</label>
				<input type="text" name="mail"  value="{{utilisateur.mail}}" required>
				<br>
				<br>
				<label for="mdp">Mot de passe</label>
				<input type="password" name="mdp" id="mdp" value="{{utilisateur.mdp}}" required>
				<br>
				<br>
				<button type="submit" >Se connecter</button>
			</div>
		</form>
		<br>
		<button class="btnretour"><a href="{{path_for('accueil')}}">retour</a></button>
	</div>
{% endblock %}