{% extends 'Interface.html.twig' %}
   
{% block stylesheets %}
        <link href="../../src/css/EmpruntRetour.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}

    <h1>Mes emprunts</h1>

    <h1>Mes retours</h1>

{% endblock %}