{% extends 'Interface.html.twig' %}


{% block stylesheets %}
    <link href="../../src/css/Recherche.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block script %}

{% endblock %}

{% block content %}

    <div class="body">

        <div class="recherche">
            <h1 class="bienvenue">Bienvenue sur Mediathek</h1>
            <input type=text placeholder="recherche"></input>
            <button type=submit>rechercher</button>
        </div>
    </div>

{% endblock %}