  {% block stylesheets %}
            <link href="../../src/css/accueil.css" type="text/css" rel="stylesheet" />
        {% endblock %}

   
{% block content %}     
        <div class="main">
            <div class="sub-main">
                 <h1>Gestion des usagers:</h1>
           <a href="{{ path_for('usagers')}}">  <button id="bu1" class="button" >Usagers</button></a>
            </div>
               <div class="sub-main">
            <h1>Gestion des documents :</h1>
           <a href="{{ path_for('documents')}}"> <button  id="bu3" class="button">Documents</button></a>
            </div>
            <div class="sub-main">
            <h1>Gestion des emprunts:</h1>
            <a href="{{ path_for('emprunts')}}"><button  id="bu2"  class="button">Emprunts</button></a>
            </div>
            <div class="sub-main">
            <h1>Gestion des retour :</h1>
           <a href="{{ path_for('retour')}}"> <button  id="bu3" class="button">Retour</button></a>
            </div>

        </div>




{% endblock %}