  {% block stylesheets %}
            <link href="../src/css/accueil.css" type="text/css" rel="stylesheet" />
        {% endblock %}

   
{% block content %}     
        <div class="main">
            <div class="sub-main">
            <h1>Gestion des usagers:</h1>
            <button id="bu1" class="button"><a href="{{ path_for('usagers')}}">Usagers</a></button>
            </div>
            <div class="sub-main">
            <h1>Gestion des emprunts:</h1>
            <button  id="bu2"  class="button"><a href="{{ path_for('emprunts')}}">Emprunts</a></button>
            </div>
            <div class="sub-main">
            <h1>Gestion des retour :</h1>
            <button  id="bu3" class="button"><a href="{{ path_for('retour')}}">Retour</a></button>
            </div>

        </div>




{% endblock %}