<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% block stylesheets %}
          <link href="../../src/css/layout.css" type="text/css" rel="stylesheet" />
        {% endblock %}
            <title>{% block title %}{% endblock %} Mediathek </title>
        {% endblock %}
    </head>
    <body>

      <div id="header">
        {% block header %}
     
<ul>
  <li><a href="{{ path_for('retour')}}">Emprunts en cours</a></li>
  <li><a href="{{ path_for('emprunts')}}">Historique des Emprunts</a></li>
   <li><a href="{{ path_for('documents')}}">Documents</a></li>
  <li><a href="{{ path_for('usagers')}}">Usager</a></li>
</ul>

        {% endblock %}
      </div> 

        <div id="content">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}
                Site crée par FarruggIa, Fraschini, Ligerot, Vancoille
                &copy; Copyright (FOOTER)</a>.
            {% endblock %}
        </div>
    </body>
</html>
