{% extends 'Interface.html.twig' %}
   
{% block stylesheets %}
        <link href="../../src/css/accueil.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
        <h1>Bienvenue sur Mediathek</h1>

        <div class="recherche">
                <input type=text placeholder="recherche"></input>
                <button type=submit>rechercher</button>
       </div> 

{% endblock %}