$blanc_mais_pas_vraiment : rgb(190, 229, 236);
$rouge : rgb(219, 17, 17);
$noir : black;
$sombre : rgb(71, 71, 71);

.accueil{
    color: $blanc_mais_pas_vraiment;
    text-align: center;
    background-color: $sombre;
}

.container{
    background-image: url('../../../img/mediatheque-3.jpeg');
    background-size:100%;
    background-repeat: no-repeat;
    width: auto;
    height: 87vh;
}

// ipad 640 1024
@media only screen and (min-device-width : 640px) and (max-device-width : 1024px) {
    .container{
        background-image: url('../../../img/mediatheque-3.jpeg');
        background-size:auto 100%;
        background-repeat: no-repeat;
        width: auto;
        height: 90vh;
    }
}

//tel 300 650
@media only screen and (min-device-width : 0px) and (max-device-width : 650px) {
    .container{
        background-image: none;
        height: auto;
    }
}