@import '_bouton.scss';
@import '_couleur.scss';

//variable bouton
    //le style
    $s_classic : classic;
    $s_flat : flat;
    $s_outline: outline;

    //la taille
    $t_small : small;
    $t_medium : medium;
    $t_large : large;

label{
    color: $blanc;
}

.container{
    text-align: center;
}

form{
    background-color: $un_peu_noir;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 5vh;
}

#logname{
    margin-left: 4em;
}

.btnretour{
    @include stylebouton($s_flat,$rouge,$un_peu_noir,$t_large);
}

@media only screen and (min-device-width : 0px) and (max-device-width : 650px) {
    .btnretour{
        @include stylebouton($s_flat,$rouge,$un_peu_noir,$t_medium);
    }
}