@import '_grid.scss';
@import '_tableau.scss';
@import '_couleur.scss';



//variable grid
$columns: 12;
$gutter-width: 1.6%;

.tableau{
  @include tableau($moins_blanc,$noir,$un_peu_noir,$blanc);
}


.row{
    @include row();
    justify-content: space-between;
}

.tab_droite .tab_gauche{
    @include col();
}

.tab_droite{
    align-items: flex-start;
    width: 45%;
}

.tab_gauche{
    align-items: flex-end;
    width: 45%;
}

// ipad 640 1024
@media only screen and (min-device-width : 640px) and (max-device-width : 1024px) {

  .tab_droite{
    align-items: flex-start;
    width: 45%;
    font-size-adjust: 0.5;

  }

  .tab_gauche{
    align-items: flex-end;
    width: 45%;
    font-size-adjust: 0.5;
  }
}


//tel 300 650
@media only screen and (min-device-width : 0px) and (max-device-width : 650px) {

  .tab_droite{
    @include row();
    align-items: flex-start;
    width: auto;
  }

  .tab_gauche{
    @include row();
    align-items: flex-start;
    width: auto;
  }

}