@import '_grid.scss';
@import '_tableau.scss';
@import '_couleur.scss';



//variable grid
$columns: 12;
$gutter-width: 1.6%;

.tableau{
  @include tableau($moins_blanc,$noir,$un_peu_noir,$blanc);
}


.row{
    @include row();
    justify-content: space-between;
}

.tab_droite .tab_gauche{
    @include col();
}

.tab_droite{
    align-items: flex-start;
    width: 45%;
}

.tab_gauche{
    align-items: flex-end;
    width: 45%;
}