@import '_bouton.scss';
@import '_navbar.scss';
@import '_alert.scss';

$blanc_mais_pas_vraiment : rgb(190, 229, 236);
$rouge : rgb(219, 17, 17);
$noir : black;
$sombre : rgb(71, 71, 71);

//variable bouton
    //le style
    $s_classic : classic;
    $s_flat : flat;
    $s_outline: outline;

    //la taille
    $t_small : small;
    $t_medium : medium;
    $t_large : large;

//variable navbar concerne la position
$centre : center;
$gauche : flex-start;
$droite : flex-end;

//variable alert
    //la couleur des alertes
    $success_color : rgb(0, 255, 0);
    $danger_color : orange;
    $warning_color : red;
    $info_color : rgb(0, 183, 255);

    //le type d'alerte
    $tp_informative : informative;
    $tp_avertissement : avertissement;
    $tp_danger : danger;
    $tp_succes : succes;

.boutton{
    @include stylebouton($s_classic,$noir,$sombre,$t_medium);
}

.navbar{
    margin:0;
    padding: 0;
    padding-bottom: 2px;
    list-style-type: none;
    display: flex;
    @include justify($centre);
    @include navcouleur($sombre);
    border-bottom: solid 4px $rouge;
}

button {
    margin-right: 2px;    
    a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        outline: none;
        text-decoration: none;
        color: $blanc_mais_pas_vraiment;
    }
}



.alert-success{
    @include typealert($tp_succes);
}
  
.alert-danger{
    @include typealert($tp_danger);
}
  
.alert-warning{
    @include typealert($tp_avertissement);
}
  
.alert-info{
    @include typealert($tp_informative);
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 @media only screen and (min-device-width : 640px) and (max-device-width : 1024px) {
    .boutton {
      background-color: #474747;
      color: black;
      border-color: #db1111;
      font-size: 1em;
      padding: 0.2em;
    }
  
    .navbar {
      margin: 0;
      padding: 0;
      padding-bottom: 2px;
      list-style-type: none;
      display: flex;
      justify-content: center;
      background-color: #474747;
      border-bottom: solid 4px #db1111;
    }
  
  
    }
  
  
  
  @media only screen and (min-device-width : 0px) and (max-device-width : 650px) {
  
  
    .boutton {
      background-color: #474747;
      color: black;
      border-color: #db1111;
      font-size: 0.8em;
      padding: 0.1em;
    }
  
    .navbar {
      margin: 0;
      padding: 0;
      padding-bottom: 2px;
      list-style-type: none;
      display: flex;
      justify-content: center;
      background-color: #474747;
      border-bottom: solid 4px #db1111;
    }
    }