@import '_bouton.scss';
@import '_navbar.scss';

$blanc_mais_pas_vraiment : rgb(190, 229, 236);
$rouge : rgb(219, 17, 17);
$noir : black;
$sombre : rgb(71, 71, 71);

//variable bouton
    //le style
    $s_classic : classic;
    $s_flat : flat;
    $s_outline: outline;

    //la taille
    $t_small : small;
    $t_medium : medium;
    $t_large : large;

//variable navbar concerne la position
$centre : center;
$gauche : flex-start;
$droite : flex-end;

.boutton{
    @include stylebouton($s_classic,$rouge,$sombre,$t_medium);
}

.navbar{
    margin:0;
    padding: 0;
    padding-bottom: 2px;
    list-style-type: none;
    display: flex;
    @include justify($centre);
    @include navcouleur($sombre);
    border-bottom: solid 4px $rouge;
}

button {
    margin-right: 2px;    
    a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        outline: none;
        text-decoration: none;
        color: $blanc_mais_pas_vraiment;
    }
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }
