@import 'couleur.scss';


.container{
    text-align: center;
}

div .donnees{
    background-color: $un_peu_noir;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 5vh;
    color : $blanc;
}