 {% include 'layout.html.twig' %}
{% block stylesheets %}
    <link href="../../src/css/gestionusagers.css" type="text/css" rel="stylesheet" />
{% endblock %}


   
{% block content %}     
   <div class="main">
             <div class="sub-main">
          <a href="{{ path_for('creacompte')}}">  <button  id="bu2"  class="button">Créer un compte</button></a>
            </div>
            <div class="sub-main">
           <a href="{{ path_for('listusagers')}}"> <button  id="bu3" class="button">Liste des usagers</button></a>
            </div>

                    </div>


                    {% endblock %}