.cata{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cardDoc{
    border: 2px black solid;
    width: 13.5%;
    background-color : white;
}
.top{
    background-color: lightblue;
    display : flex;
    flex-wrap: wrap;
    justify-content:center;
}