.cata{
    display : flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cardDoc{
    border: 2px black solid;
    width: 13.5%;
    background-color : white;
}
.top{
    background-color: lightblue;
    display : flex;
    flex-wrap: wrap;
    justify-content:center;
}
.image{
    width: 100%;
  }
  
  img {
    width: 100%;
    height: auto;
  }



@media only screen and (min-device-width : 640px) and (max-device-width : 1024px) {
 
    .cata{
        display : flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .image{
        width: 100%;
      }
      
      img {
        width: 100%;
        height: auto;
      }
    
    .cardDoc{
        border: 2px black solid;
        width: 32.5%;
        background-color : white;
    }
    .top{
        background-color: lightblue;
        display : flex;
        flex-wrap: wrap;
        justify-content:center;
    }
    
    }