
.content {
    display: flex;
    flex-direction: column;


}

.ligne-p {
    background-color: #4CAF50;
}

.ligne-u {
    background-color: #cbf199;
}

.nom {
    max-width: 2em;
    min-width: 2em;
}

<<<<<<< HEAD
.search {
    display: flex;
    background-color: #f1c40f;
}
=======
span {
    min-width: 8%;
}

body{
    background:#7a8fa3;
    font-family: 'Open Sans', sans-serif;
  }
  
>>>>>>> a8c919d0a599132d3443a6763fd820696f3370fd
